@media(max-width: 625px) {
    body {
        display: flex;
        background-color: rgb(10, 10, 10);
        max-height: 780px;
    }
    .conteiner-card {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
    }
    .card-result {
        min-width: 320px;
        min-height: 220px;
    }

    .result-valor {
        min-width: 40%;
        min-height: 40%;
    }
}