@font-face {
    font-family: Hanken Grotesk;
    src: url('../fonts/HankenGrotesk-VariableFont_wght.ttf');
}
html {
    font-size: 62.5%;
    
}
body {
    
    font-size: 1rem; 
    font-family: "Hanken Grotesk", sans-serif;                   


    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-card {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 434px;
    min-height: 304px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(48, 59, 90, 0.377);

}
.conteiner-card .conteiner-result {
   background-image: linear-gradient(to bottom, hsl(252, 98%, 63%), hsl(241, 81%, 54%));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 217px;
    height: 304px;
    padding: 20px 10px 10px 10px;
}
.conteiner-card .conteiner-result .title-result {
    color: hsl(241, 100%, 89%);
    font-size: 1.7rem;
}
.conteiner-card .conteiner-result .result-circle {
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    margin-top: 20px;
    border: none;
    max-width: 1430px;
    height: 120px;
    padding: 10%;
}
.conteiner-card .conteiner-result .result-circle .result-valor-segundario {
    font-weight: 800;
    color: hsl(0, 0%, 100%);
    font-size: 4.5rem;
}
.conteiner-card .conteiner-result .result-circle span {
    color: hsl(241, 100%, 89%);
    font-size: 1.3rem;
}
.conteiner-card  .conteiner-result > h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.9rem;
    margin-top: 10px;
}
.conteiner-card .conteiner-result  .paragraphs-result {
    margin-top: 15px;
    color: hsl(241, 100%, 89%);
    font-size: 1.4rem;
}


.conteiner-summary {
    display: flex;
    flex-direction: column;
    flex: wrap;
    min-width: 217px;
    min-height: 304px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.conteiner-summary .title-summary {
    margin: 17px 0px 10px 30px;
    font-weight: 800;
    font-size: 18px;
}
.conteiner-summary .summary-reaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
} 
.conteiner-summary .summary-reaction  .summary-informacao-reaction {
    background-color: hsla(0, 100%, 67%, 0.096);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    min-width: 190px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.conteiner-summary .summary-reaction .summary-informacao-reaction .cor-text-reaction {
    display: flex;
    align-items: center;
    gap: 10px;
    color: hsl(0, 100%, 67%);
}
.conteiner-summary .summary-reaction .summary-informacao-reaction .valor-stilo {
    margin-left: 50px;
    color: hsl(224, 5%, 60%);
    font-weight: 700;
}
.conteiner-summary .summary-reaction .summary-informacao-reaction .valor-stilo span {
    color:  hsl(224, 30%, 27%);
}


.conteiner-summary .summary-memory {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner-summary .summary-memory .summary-informacao-memory {
    background-color: hsla(39, 100%, 56%, 0.096);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    min-width: 190px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.conteiner-summary .summary-memory .summary-informacao-memory .cor-text-memory {
    display: flex;
    align-items: center;
    gap: 10px;
    color: hsl(39, 100%, 56%);
}


.conteiner-summary .summary-verbal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner-summary .summary-verbal .summary-informacao-verbal {
    background-color: hsla(166, 100%, 37%, 0.096);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    min-width: 190px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.conteiner-summary .summary-verbal .summary-informacao-verbal .cor-text-verbal {
    display: flex;
    align-items: center;
    gap: 10px;
    color: hsl(166, 100%, 37%);
}
.conteiner-summary .summary-verbal .summary-informacao-verbal .valor-stilo-verbal {
    margin-left: 57px;
    color: hsl(224, 5%, 60%);
    font-weight: 700;
}


.conteiner-summary .summary-visual {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner-summary .summary-visual .summary-informacao-visual {
    background-color: hsla(234, 85%, 45%, 0.096);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    min-width: 190px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.conteiner-summary .summary-visual .summary-informacao-visual .cor-text-visual {
    display: flex;
    align-items: center;
    gap: 10px;
    color: hsl(234, 85%, 45%);
} 
.conteiner-summary .summary-visual .summary-informacao-visual .valor-stilo-visual {
    margin-left: 58px;
    color: hsl(224, 5%, 60%);
    font-weight: 700;
}


.conteiner-summary .summary-bottom {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.conteiner-summary .summary-bottom .bottom-continue {
    background-image: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: none;
    font-weight: 700;
    padding: 10px;
    min-width: 190px;
    cursor: pointer;
}
.conteiner-summary .summary-bottom .bottom-continue:hover {
    background-image: linear-gradient(to bottom,rgb(27, 9, 77), hsl(241, 74%, 15%));
    color: rgb(255, 255, 255);
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }